@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
/* font-family: 'Open Sans', sans-serif; */


@import url('https://fonts.googleapis.com/css2?family=Cardo&display=swap');
/* font-family: 'Cardo', serif; */


@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
/* font-family: 'Open Sans', sans-serif; */



@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
/* font-family: 'Roboto', sans-serif; */


.navbara {
    overflow: hidden !important;
    /* background-color: #333 !important; */
   
    display: flex !important;

    justify-content: center !important;

  }
/* 
  .navbara:hover{
      background-color: white;
      color: black;
  } */

/* 
  .nav-style{
      border: 1px solid;
  } */

  .nav-style:hover{
      background-color: white;
  }

  .navbara:hover .navbara a {
    color:black !important;
    border: 1px solid green !important;
}

.nav-style:hover  .navbara a , .dropdowna .dropbtn {
    color: black !important;
}

.nav-style:hover   .dropdowna .dropbtn {
    color: black !important;
}
  
  .navbara a {
    float: left !important;
    /* text-align: center; */
    font-size: 14px !important;
    color: white!important;
    text-align: center !important;
    padding: 14px 16px !important;
    text-decoration: none !important;
    /* font-family: 'Open Sans', sans-serif !important; */
    /* font-weight: bold; */
    /* font-family: 'Cardo', serif; */
    font-family: 'Roboto', sans-serif !important;
    
  }
/*   
  .fw{
    font-weight: bold;
  } */
  .dropdowna {
    float: left !important;
    overflow: hidden !important;
  }
  
  .dropdowna .dropbtna {
    font-size: 16px !important;  
    border: none !important;
    outline: none !important;
    color: white ;
    padding: 14px 16px !important;
    background-color: inherit !important;
    font: inherit !important;
    margin: 0 !important;
  }
  
   .navbara a:hover, .dropdowna:hover .dropbtna {
    background-color:white ;
    /* color: black !important ; */
  } 

  .navbara:hover .dropbtna{
  color: black;
}

  
  .dropdowna-content {
    display: none;
    position: absolute;
    /* background-color: #f9f9f9; */
   background-color: white;
    width: 100%;
    left: 0 !important;
    /* right: 400 !important; */
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    /* z-index: 1; */
    /* border: 1px solid red; */
 
  }
  
  .dropdowna-content .header {
    background: red !important;
    padding: 16px !important; 
    color: white !important;
    z-index: 1 !important;
  }
  
  .dropdowna:hover .dropdowna-content {
    display: block !important;
  }
  
  /* Create three equal columns that floats next to each other */
  .columna {
    float: left !important;
    width: 24% !important;
    padding: 10px !important;
    background-color:white !important; 
    height: 250px !important;
    border: 1px solid rgba(0, 0,0, 0.05) !important;
  }

  .columna h3{
     font-family: 'Open Sans', sans-serif !important;
     font-size: 15px !important;
     float: left;

  }
  
  .columna a {
    float: none !important;
    color: black !important;
    padding: 5px !important;
    text-decoration: none !important;
    display: block !important;
    text-align: left !important;
    font-family: 'Cardo', serif !important;
    font-size: 14px !important;
    z-index: 1 !important;
  
  }
  
  .columna a:hover {
    background-color: white !important;
    color: grey !important;
  }
  
  /* Clear floats after the columns */
  .rowa:after {
    content: "" !important;
    display: table !important;
    clear: both !important;
  }
  